
#content {
    max-width: 1600px;
    margin: 0 auto;
    
}
#hero-img {
    width: 100%;
}
.icon{ 
    width: 80px;
}
.logo {
    width: 80px;
}
nav a {
    text-align: center;
    color: rgb(255, 255, 255);
    text-decoration: none;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
}
.button-box {
    text-align: center;
}
main section{
    text-align: center;
} 
#background {
    height: 725px;
    background-color: #b8d0e7;
}
body {
    background-color: #fdfdfd; 
}
header {
    background-color:#576ca8;
}
nav a:hover {
    background-color: #274690;
}
.book, .join {
    color: #fdfdff;
    background-color: #576ca8;
    text-decoration: none;    
}
.book:hover, .join:hover {
    color: rgb(45, 0, 66);
}
.msg{
    background-color: #c8d6e2;
}
.msg p {
    color: rgb(0, 0, 0)
}
.msg h2 {
    color: black
}
footer {
    background-color: #c8d6e2;
    color: black;
}
footer a{
    color: #0049f5;
    text-decoration: none;
}
footer a:hover{
    color: rgb(45, 0, 66);
}
footer p {
    font-size: 1.2em;
}  
footer p a:hover {
    text-decoration: underline;
}  
.home-title{
    color: black;
}
h4 {
    color: black;
}